:root {
	--color-brand: #cb1b14;
	--color-copy: #161616;
	--color-light: #fff;
}

.wp-block-wearerequired-example {
	background-color: var( --color-copy );
	color: var( --color-light );
	padding: 20px 30px;
}
