<?xml version="1.0"?>
<ruleset name="required Tobii">
	<description>Coding Standard for the "required Tobii" plugin.</description>

	<file>.</file>

	<rule ref="Required"/>

	<!-- The minimum supported WordPress version for all sniffs which use it. -->
	<config name="minimum_supported_wp_version" value="6.4"/>
	<!-- The minimum PHP requirement. -->
	<config name="testVersion" value="7.4-"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="required-tobii"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="Required\Tobii"/>
				<element value="required_tobii"/>
			</property>
		</properties>
	</rule>

	<rule ref="SlevomatCodingStandard.Commenting.ForbiddenAnnotations">
		<properties>
			<property name="forbiddenAnnotations" type="array" extend="true">
				<element value="@since"/>
			</property>
		</properties>
	</rule>

	<exclude-pattern>/assets/*</exclude-pattern>
</ruleset>
