@import "~@midzer/tobii/src/scss/tobii";

:root {
	--tobii-base-font-size: 18px;
	--tobii-lightbox-background: rgba( 0, 0, 0, .8 );
	--tobii-lightbox-z-index: 100000; // #wpadminbar uses 99999
	--tobii-slide-max-height: 85vh;
	--tobii-caption-background: rgba( 255, 255, 255, .95 );
	--tobii-caption-color: #121212;
}

.tobii__slider {
	top: 0;
}

.tobii__counter {
	font-size: .778em;
	top: 2.2222222222em;
	left: 1em;
}

.tobii__btn {
	border-radius: 3px;
	outline: none;
	border: 0;
	background: none;
	transition: none;
	transform: none;
	box-shadow: none;
	width: 2.222222222em;
	height: 2.222222222em;

	svg {
		transform: none;
		height: 100%;
		width: 100%;
	}

	@media screen and ( prefers-reduced-motion: no-preference ) {
		will-change: opacity, color, background-color, box-shadow;
		transition-property: opacity, color, background-color, box-shadow;
	}

	&:active,
	&:focus,
	&:hover {
		color: var( --tobii-button-color );
		box-shadow: 0 0 0 1px rgba( 255, 255, 255, .5 );
		transform: none;
		border: 0;
		background: none;
	}

	&:hover {
		background-color: rgba( 0, 0, 0, .75 );
	}

	&:active {
		transform: translateY( 1px );
	}

	&--close {
		top: .8888888889em;
		right: .8888888889em;
	}

	&--next {
		right: .8888888889em;
	}

	&--previous {
		left: .8888888889em;
	}

	&--next,
	&--previous {
		transform: translateY( -50% );

		&:focus,
		&:hover {
			transform: translateY( -50% );
		}

		&:active {
			transform: translateY( calc( -50% + 1px ) );
		}
	}
}

.tobii__slide {
	figure {
		> figcaption {
			padding: .714em;
			font-size: .778em;
		}
	}
}
