@import "~tobii/src/scss/tobii.scss";

:root {
	--base-font-size: 16px;
	--lightbox-background: rgba( 0, 0, 0, .8 );
	--lightbox-z-index: 100000; // #wpadminbar uses 99999
}

.tobii__counter {
	font-size: em( 14 );
	left: em( 16, 14 );
	top: em( 16, 14 );
}

.tobii__btn {
	border-radius: 3px;
	outline: none;
	border: none;
	background: none;
	transition: none;
	box-shadow: none;

	svg {
		width: em( 40 );
		height: em( 40 );
	}

	@media screen and ( prefers-reduced-motion: no-preference ) {
		will-change: opacity, color, background-color, box-shadow;
		transition-property: opacity, color, background-color, box-shadow;
	}

	&:active,
	&:focus,
	&:hover {
		color: var( --button-color );
		box-shadow: 0 0 0 1px rgba( 255, 255, 255, .5 );
	}

	&:hover {
		background-color: rgba( 0, 0, 0, .75 );
	}

	&:active {
		transform: translateY( 1px );
	}

	&--next,
	&--previous {
		&:active {
			transform: translateY( calc( -50% + 1px ) );
		}
	}
}
